/* src/styles/AboutMe.css */

.about-me {
  padding: 60px 20px; /* Espaciado para el contenedor */
  background-color: tra; /* Fondo oscuro para el contenedor */
  color: white; /* Texto blanco */
}

.about-me-content {
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido */
  text-align: left; /* Alinear texto a la izquierda */
}

.about-me h2 {
  font-size: 2em; /* Tamaño de fuente del encabezado */
  margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.about-me p {
  font-size: 1.1em; /* Tamaño de fuente para los párrafos */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-bottom: 15px; /* Espacio debajo de cada párrafo */
}
