/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;
   
  }

  

  .content {
    position: relative; /* Permite que el contenido se muestre sobre el fondo */
    z-index: 1; /* Asegúrate de que el contenido esté por encima del fondo */
  }

  /* .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff6b6b, #f06595, #ffdd59, #6a82fb);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    z-index: -1; 
  }
   */
  @keyframes gradientAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }
  
 /* Estilo del encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed; /* Fijo en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent; /* Fondo transparente */
  transition: transform 0.3s ease; /* Transición suave */
}

/* Estilo cuando el encabezado está oculto */
.hidden {
  transform: translateY(-100%); /* Desliza el header hacia arriba fuera de la vista */
}

/* Estilo del menú */
.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 2rem;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.menu li a i {
  margin-right: 0.5rem;
}

/* Estado hover para enlaces del menú */
.menu li a:hover {
  color: #007bff;
}

/* Opcional: Estilo para el título del portafolio */
.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #ddd;
}


  
  /* Estilos para la sección de proyectos */
  #projects {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
  }
  
  #projects h2 {
    margin-top: 0;
  }
  
  .project-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 300px;
  }
  
  .project-card h3 {
    margin-top: 0;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  /* Estilos para el enlace de contacto */
  #contact {
    padding: 2rem;
    text-align: center;
  }
  
  #contact h2 {
    margin-top: 0;
  }
  
  #contact form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #contact input, #contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #contact button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contact button:hover {
    background-color: #555;
  }
  